# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("./Resources/applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.columns

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(["EIN", "NAME"], axis=1)

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)
enc

OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

C:\users\diana\anaconda3\envs\dev\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [8]:
# Create a DataFrame with the encoded variables
# The column names should match those of the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Display sample data
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
final_encoded_df = pd.concat([encoded_df, applicant_data_df.drop(categorical_variables, axis=1)], axis=1)
# Review the Dataframe
final_encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

In [10]:
final_encoded_df.dtypes

APPLICATION_TYPE_T10        float64
APPLICATION_TYPE_T12        float64
APPLICATION_TYPE_T13        float64
APPLICATION_TYPE_T14        float64
APPLICATION_TYPE_T15        float64
                             ...
SPECIAL_CONSIDERATIONS_N    float64
SPECIAL_CONSIDERATIONS_Y    float64
STATUS                        int64
ASK_AMT                       int64
IS_SUCCESSFUL                 int64
Length: 117, dtype: object

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = final_encoded_df["IS_SUCCESSFUL"]
# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = final_encoded_df.drop("IS_SUCCESSFUL", axis=1)

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the numerical features training dataset
scaler.fit(X_train.iloc[:, -len(categorical_variables):])

# Transform the features training and testing datasets
X_train_scaled = scaler.transform(X_train.iloc[:, -len(categorical_variables):])
X_test_scaled = scaler.transform(X_test.iloc[:, -len(categorical_variables):])

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
X.shape[1]

116

In [16]:
# Define the the number of inputs (features) to the model
number_input_features = X_train_scaled.shape[1]

# Review the number of features
print(number_input_features)

7

In [17]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [18]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  128

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

128

In [19]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 64

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

64

In [20]:
# Create the Sequential model instance
nn = Sequential()

In [21]:
# Add the first hidden layer
nn.add(
    Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

In [22]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation='relu'))

In [23]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation='sigmoid'))

In [24]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               1024

 dense_1 (Dense)             (None, 64)                8256

 dense_2 (Dense)             (None, 1)                 65

=================================================================
Total params: 9345 (36.50 KB)
Trainable params: 9345 (36.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [25]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [26]:
# Fit the model using 50 epochs and the training data
model_1 = nn.fit(X_train_scaled, y_train, validation_split=0.3, epochs=20)

Epoch 1/20
563/563 [==============================] - 2s 2ms/step - loss: 0.6934 - accuracy: 0.5344 - val_loss: 0.6961 - val_accuracy: 0.5311
Epoch 2/20
563/563 [==============================] - 1s 2ms/step - loss: 0.6916 - accuracy: 0.5350 - val_loss: 0.6940 - val_accuracy: 0.5312
Epoch 3/20
563/563 [==============================] - 1s 2ms/step - loss: 0.6906 - accuracy: 0.5357 - val_loss: 0.6930 - val_accuracy: 0.5316
Epoch 4/20
563/563 [==============================] - 1s 2ms/step - loss: 0.6905 - accuracy: 0.5354 - val_loss: 0.6920 - val_accuracy: 0.5315
Epoch 5/20
563/563 [==============================] - 1s 2ms/step - loss: 0.6900 - accuracy: 0.5347 - val_loss: 0.6923 - val_accuracy: 0.4891
Epoch 6/20
563/563 [==============================] - 1s 2ms/step - loss: 0.6904 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5316
Epoch 7/20
563/563 [==============================] - 1s 2ms/step - loss: 0.6902 - accuracy: 0.5357 - val_loss: 0.6913 - val_accuracy: 0.5315
Epoch 8/20
563/563 [==============================] - 1s 2ms/step - loss: 0.6900 - accuracy: 0.5355 - val_loss: 0.6914 - val_accuracy: 0.5314
Epoch 9/20
563/563 [==============================] - 1s 2ms/step - loss: 0.6900 - accuracy: 0.5357 - val_loss: 0.6919 - val_accuracy: 0.5315
Epoch 10/20
563/563 [==============================] - 1s 2ms/step - loss: 0.6900 - accuracy: 0.5355 - val_loss: 0.6923 - val_accuracy: 0.5315
Epoch 11/20
563/563 [==============================] - 1s 2ms/step - loss: 0.6901 - accuracy: 0.5357 - val_loss: 0.6913 - val_accuracy: 0.5315
Epoch 12/20
563/563 [==============================] - 1s 2ms/step - loss: 0.6898 - accuracy: 0.5349 - val_loss: 0.6916 - val_accuracy: 0.5315
Epoch 13/20
563/563 [==============================] - 1s 2ms/step - loss: 0.6900 - accuracy: 0.5357 - val_loss: 0.6918 - val_accuracy: 0.5314
Epoch 14/20
563/563 [==============================] - 1s 2ms/step - loss: 0.6899 - accuracy: 0.5356 - val_loss: 0.6921 - val_accuracy: 0.5315
Epoch 15/20
563/563 [==============================] - 1s 2ms/step - loss: 0.6903 - accuracy: 0.5358 - val_loss: 0.6915 - val_accuracy: 0.5315
Epoch 16/20
563/563 [==============================] - 1s 2ms/step - loss: 0.6902 - accuracy: 0.5357 - val_loss: 0.6917 - val_accuracy: 0.5315
Epoch 17/20
563/563 [==============================] - 1s 2ms/step - loss: 0.6900 - accuracy: 0.5359 - val_loss: 0.6915 - val_accuracy: 0.5315
Epoch 18/20
563/563 [==============================] - 1s 2ms/step - loss: 0.6900 - accuracy: 0.5357 - val_loss: 0.6914 - val_accuracy: 0.5320
Epoch 19/20
563/563 [==============================] - 1s 2ms/step - loss: 0.6898 - accuracy: 0.5360 - val_loss: 0.6919 - val_accuracy: 0.5312
Epoch 20/20
563/563 [==============================] - 1s 2ms/step - loss: 0.6898 - accuracy: 0.5364 - val_loss: 0.6919 - val_accuracy: 0.5308

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [27]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6926 - accuracy: 0.5325 - 268ms/epoch - 998us/step
Loss: 0.6925691962242126, Accuracy: 0.5324781537055969

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [29]:
# Set the model's file path
file_path = "./Resources/model.h5"
# Export your model to a HDF5 file
nn.save("AlphabetSoup.h5")

C:\users\diana\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [47]:
# Define the the number of inputs (features) to the model
number_input_features = X_train_scaled.shape[1]

# Review the number of features
number_input_features

7

In [48]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [49]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 128

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

128

In [50]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [51]:
# First hidden layer
nn_A1.add(
    Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)


# Output layer
nn_A1.add(Dense(units=number_output_neurons, activation='sigmoid'))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 128)               1024

 dense_10 (Dense)            (None, 1)                 129

=================================================================
Total params: 1153 (4.50 KB)
Trainable params: 1153 (4.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [52]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [53]:
# Fit the model using 50 epochs and the training data
model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6928 - accuracy: 0.5317
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6926 - accuracy: 0.5339
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6917 - accuracy: 0.5341
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6918 - accuracy: 0.5344
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6919 - accuracy: 0.5342
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6919 - accuracy: 0.5342
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6915 - accuracy: 0.5344
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6914 - accuracy: 0.5338
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5339
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6916 - accuracy: 0.5344
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5346
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5343
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5343
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5346
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5344
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6906 - accuracy: 0.5341
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6904 - accuracy: 0.5341
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6906 - accuracy: 0.5346
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6905 - accuracy: 0.5339
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6906 - accuracy: 0.5340
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6905 - accuracy: 0.5340
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6904 - accuracy: 0.5342
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6903 - accuracy: 0.5341
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6903 - accuracy: 0.5344
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6903 - accuracy: 0.5343
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6901 - accuracy: 0.5340
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6905 - accuracy: 0.5342
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6901 - accuracy: 0.5346
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6902 - accuracy: 0.5341
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6901 - accuracy: 0.5341
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6900 - accuracy: 0.5341
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6901 - accuracy: 0.5346
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6900 - accuracy: 0.5346
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6901 - accuracy: 0.5343
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6899 - accuracy: 0.5356
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6901 - accuracy: 0.5344
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6899 - accuracy: 0.5351
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6900 - accuracy: 0.5347
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6900 - accuracy: 0.5361
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6899 - accuracy: 0.5358
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6900 - accuracy: 0.5360
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6900 - accuracy: 0.5362
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6900 - accuracy: 0.5357
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6900 - accuracy: 0.5362
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6899 - accuracy: 0.5363
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6899 - accuracy: 0.5360
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6899 - accuracy: 0.5361
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6899 - accuracy: 0.5368
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6899 - accuracy: 0.5365

#### Alternative Model 2

In [54]:
# Define the the number of inputs (features) to the model
number_input_features = X_train_scaled.shape[1]

# Review the number of features
number_input_features

7

In [55]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [56]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 128

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

128

In [57]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [60]:
# First hidden layer
nn_A2.add(
    Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)


# Output layer
nn_A2.add(Dense(units=number_output_neurons, activation='sigmoid'))

# Check the structure of the model
nn_A2

In [61]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [62]:
# Fit the model
fit_model_A2 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6899 - accuracy: 0.5367
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6899 - accuracy: 0.5367
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6899 - accuracy: 0.5372
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6898 - accuracy: 0.5365
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6899 - accuracy: 0.5369
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6899 - accuracy: 0.5368
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6898 - accuracy: 0.5370
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6899 - accuracy: 0.5369
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6899 - accuracy: 0.5372
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6898 - accuracy: 0.5374
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6899 - accuracy: 0.5367
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6898 - accuracy: 0.5374
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6898 - accuracy: 0.5371
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6898 - accuracy: 0.5369
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6899 - accuracy: 0.5374
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6898 - accuracy: 0.5371
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6898 - accuracy: 0.5374
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5376
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6898 - accuracy: 0.5374
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6898 - accuracy: 0.5374
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5372
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6898 - accuracy: 0.5378
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6898 - accuracy: 0.5376
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5376
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5378
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6898 - accuracy: 0.5379
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6898 - accuracy: 0.5376
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6898 - accuracy: 0.5380
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6898 - accuracy: 0.5376
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6898 - accuracy: 0.5380
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6898 - accuracy: 0.5379
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5381
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5374
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5380
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5373
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5382
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5378
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5383
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5380
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6897 - accuracy: 0.5379
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5379
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6898 - accuracy: 0.5382
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5379
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5382
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5379
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6896 - accuracy: 0.5380
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5387
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5379
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5382
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5380

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [63]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6917 - accuracy: 0.5353 - 303ms/epoch - 1ms/step
Loss: 0.6916661262512207, Accuracy: 0.5352769494056702

In [64]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.6917 - accuracy: 0.5353 - 231ms/epoch - 862us/step
Loss: 0.6916661262512207, Accuracy: 0.5352769494056702

In [65]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.6974 - accuracy: 0.4673 - 367ms/epoch - 1ms/step
Loss: 0.6973795294761658, Accuracy: 0.46728864312171936

### Step 3: Save each of your alternative models as an HDF5 file.

In [67]:
# Set the file path for the first alternative model
file_path = "./Resources/model_nn_A1.h5"
# Export your model to a HDF5 file
nn.save("AlphabetSoup_A1.h5")

In [68]:
# Set the file path for the second alternative model
file_path = "./Resources/model_nn_A2.h5"
# Export your model to a HDF5 file
nn.save("AlphabetSoup_A2.h5")